repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
  - repo: https://github.com/psf/black
    # https://github.com/psf/black/issues/875
    rev: 19.10b0
    hooks:
      - id: black
        exclude: 'Jenkinsfile'
        args: [--line-length, '160']
  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
      - id: flake8
        additional_dependencies: [flake8-bugbear,flake8-eradicate]
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v1.6.1
    hooks:
      - id: reorder-python-imports
  - repo: https://github.com/myint/docformatter
    rev: v1.3
    hooks:
      - id: docformatter
