apiVersion: apps/v1
# need to use deployment instead of beacause of https://github.com/kubernetes/kubernetes/issues/24913
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    rsp-workspace/version: {{ .Values.RspWorkspaceVersion }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      name: {{ .Release.Name }}
      labels:
        app.kubernetes.io/instance: {{ .Release.Name }}
        app.kubernetes.io/managed-by: {{ .Release.Service }}
        rsp-workspace/version: {{ .Values.RspWorkspaceVersion }}
    spec:
      restartPolicy: Always
      containers:
        - image: "docker.bin.sbb.ch/pfi/rsp-workspace:{{ .Values.RspWorkspaceVersion }}"
          imagePullPolicy: IfNotPresent # Always or IfNotPresent
          name: "{{ .Release.Name }}"
          # sbb-proxy is set in dskit-jupyter-base ENTRYPOINT https://code.sbb.ch/projects/KD_BIGDATA/repos/dskit-jupyter-base/browse/docker/Dockerfile
          # If you need to set proxy variables manually, add something along the lines:
          # (On AWS you might need to unset the variables! On OTC/VIAS, you need the proxy to access the internet).
          #      env:
          #        - name: HTTP_PROXY
          #          value: http://zscaler.sbb.ch:10465
          #        - name: HTTPS_PROXY
          #          value: http://zscaler.sbb.ch:10465
          #        - name: NO_PROXY
          #          value: localhost,127.0.0.1,.svc.cluster.local,.sbb.ch,.cff.ch,.ffs.ch,.adrail.ch,.sbb-wzu.net,.wzu.io,.sbb-aws.net,.sbb-cloud.net,.sbbintra.ch,.swisspass.ch,.sbbcargo.com,.otc.t-systems.com,bin.sbb.ch

          env:
            # you need to define these secrets manually in the Openshift project, see HOWTO.md in hpc-quickstart-training
            {{/*          https://code.sbb.ch/projects/KD_BIGDATA/repos/dskit-jupyter-base/browse/docker/config/jupyter_config_initializer.py*/}}
            - name: JUPYTER_NOTEBOOK_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: jupyter-notebook-password
                  key: JUPYTER_NOTEBOOK_PASSWORD

          # https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/
          #                                        Docker field name        Kubernetes field name
          #   The command run by the container	   Entrypoint	            command
          #   The arguments passed to the command  Cmd                      args
          args:
            - /bin/bash
            - -c
            - |
              # echo shell commands and fail script on error
              set -e
              set -x

              # we need to fix user before cloning https://stackoverflow.com/questions/47706024/docker-set-running-user-while-launch-container/57531352#57531352
              set-ocuser-as-jovyan

              # set http proxy
              source set-sbb-proxy
              printenv

              # clone (ssh key and proxy are injected by SSH_GIT_COMMAND env variable)
              git clone git@github.com:SchweizerischeBundesbahnen/rsp.git
              cd rsp
              git checkout {{ .Values.RspVersion }} --recurse-submodules
              cd ..
              git clone git@github.com:SchweizerischeBundesbahnen/rsp-data.git

              # set up environment
              cd rsp
              conda init bash
              source ~/.bashrc

              # set up conda environment with dependencies and requirement for ci (testing, linting etc.)
              conda env create --file rsp_environment.yml --force
              conda activate rsp

              # since we redefine the CMD inherited from dskit/jupyter-base, we need to call start-notebook.sh here!
              # the password is injected via env variable JUPYTER_NOTEBOOK_PASSWORD from a secret, see above

              # run in xvfb to allow for DISPLAY
              xvfb-run start-notebook.sh
          resources:
          {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
            - name: rsp-volume
              mountPath: /home/jovyan/data
            - mountPath: "/home/jovyan/ssh"
              name: ssh-volume
          readinessProbe:
            tcpSocket:
              port: 8888
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 8888
            initialDelaySeconds: 15
            periodSeconds: 20
      volumes:
        - name: rsp-volume
          {{/* volum rsp-volume created via https://ssp.app.ose.sbb-cloud.net/ose/volume/new*/}}
          persistentVolumeClaim:
            claimName: rsp-volume
        - name: ssh-volume
          secret:
            secretName: jenkins-master-key
            defaultMode: 256
