name: Linting and Tests

on: [ push ]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5

    steps:
      - uses: actions/checkout@v3
      - name: Fix libffi on Ubuntu
        run: |
          # https://stackoverflow.com/questions/61875869/ubuntu-20-04-upgrade-python-missing-libffi-so-6
          find /usr/lib -name "libffi.so*"
          ln -s /usr/lib/x86_64-linux-gnu/libffi.so.8 /usr/lib/x86_64-linux-gnu/libffi.so.6

      - uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: rsp
          environment-file: rsp_environment.yml
          python-version: 3.8.1
      - name: Check conda env
        run: |
          $CONDA/bin/python --version
          conda env list
          $CONDA/bin/python -m pip list
          $CONDA/bin/python --version
      - name: Lint
        run: |
          pre-commit run --all
      - name: Test with pytest
        run: |
          $CONDA/bin/pytest --junitxml=report.xml -v -s --no-cov-on-fail --cov=.
          $CONDA/bin/flake8 . --exit-zero --output-file=flake8.txt
          $CONDA/bin/coverage xml
      - name: Archive junit test results
        uses: actions/upload-artifact@v3
        with:
          name: junit
          path: report.xml
      - name: Archive code coverage results
        uses: actions/upload-artifact@v3
        with:
          name: cobertura
          path: coverage.xml
      - name: Archive flake8 code style results
        uses: actions/upload-artifact@v3
        with:
          name: flake8
          path: flake8.txt
